<!DOCTYPE html>
<html>
  <head>
    <title>Elearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="assets/main_styles.css">
    <link rel="stylesheet" type="text/css" href="assets/responsive.css">
  </head>

  <body>
    <div class="super_container">
      <%= render 'layouts/navigation'%>
      <%= render 'layouts/navigation/modal' %>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
